INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
cscope.*
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.libs/
src/.*.swp
src/Makefile
src/Makefile.in
src/libdeck.la
src/libdeck_la-card.lo
src/libdeck_la-card.o
src/libdeck_la-collection.lo
src/libdeck_la-collection.o
src/libdeck_la-combination.lo
src/libdeck_la-combination.o
src/libdeck_la-deck.lo
src/libdeck_la-deck.o
src/libdeck_la-libdeck.lo
src/libdeck_la-libdeck.o
src/libdeck_la-poker.lo
src/libdeck_la-poker.o
src/libdeck_la-print.lo
src/libdeck_la-print.o
src/libdeck_la-util.lo
src/libdeck_la-util.o
src/testapp
src/testapp.o
src/testapp-testapp.o
stamp-h1
